.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.container {
  background-color: rgb(234, 184, 149);
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
ul {
  margin-left: -40px;
}
li {
  box-shadow: 12px 2px 13px rgba(0, 0, 0, 0.3);

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  overflow-x: hidden;
  margin: 10px 0;
  border-radius: 10px;
  background-color: aqua;
  padding: 10px 5px;
}
li > span {
  min-width: 150px;
  overflow-x: hidden;
  font-family: sans-serif;
}
li > button {
  background-color: rgb(237, 116, 116);
  border: none;
  padding: 7px 10px;
}
.topBox {
  display: flex;
}
.topBox > input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.topBox > button {
  padding: 5px 20px;
  border: none;
  background-color: rgb(133, 255, 133);
  border-radius: 10px;
}

@media screen and (max-width: 600px){
    .container {
        width:70%;
    }
